<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}BizzFuzz{% endblock %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/master/build/css/bootstrap-datetimepicker.min.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>
    <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/master/src/js/bootstrap-datetimepicker.js"></script>
    {% block extra-head %}{% endblock %}
</head>
<body>
<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        {% block breadcrumb %}{% endblock %}
    </ol>
    {% block content %}{% endblock %}
</div>
</body>
</html>